 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 /*Animação intro  */

 .intro {
     position: fixed;
     height: 100vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background: black;
     animation-name: desaparecer;
     animation: desaparecer 2s linear forwards;
     flex-direction: column;
     animation: desaparecer 2s forwards;
     inset: 0;
     z-index: 1;
     pointer-events: none;
 }

 .intro .logoFrase {
     width: 150px;
     animation-name: introducao;
     animation: introducao 2s linear infinite;
     width: 120px;
     height: 120px;
     overflow: hidden;
 }

 .intro .logo {
     animation-name: aparecer;
     animation: aparecer 2s linear infinite;
 }

 @keyframes desaparecer {
     0% {
         opacity: 1;
     }

     50% {
         opacity: 1;
     }

     100% {
         opacity: 0;

     }

 }

 @keyframes introducao {
     0% {
         transform: scale(1) rotate(0deg);
     }

     50% {
         transform: scale(1.2) rotate(180deg);
     }

     100% {
         transform: scale(1) rotate(360deg);
     }
 }

 @keyframes aparecer {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
         transform:
             translateY(0) translateX(0);

     }
 }


 @keyframes girar {

     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(360deg);
     }

 }


 /*Cabeçalho*/

 header {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 20px;
     background: #44444402;
 }


 header ul {
     display: flex;
     justify-content: space-around;
     gap: 120px;
     font-family: 'Poppins', sans-serif;
     font-size: 30px;
     outline: none;
     list-style: none;
     color: white;
 }

 .lista-cabecalho li a {
     color: white;
     text-decoration: none;
     transition: all 0.3s ease;
     display: inline-block;
 }

 .lista-cabecalho li a:hover {
     transform: translateY(-10px) scale(1.1);
     letter-spacing: 2px;
 }

 .logo {

     transition: all 0.3s ease;
 }

 .logo:hover {
     transform: translateY(-10px) scale(1.1);
     letter-spacing: 2px;
 }

 .botao-comece {
     padding: 20px;
     border: none;
     border-radius: 30px;
     background: linear-gradient(90deg, #ff0066, #7b2cff);
     cursor: pointer;
     font-size: 25px;
     transition: all 0.3s ease;
 }

 .botao-comece:hover {
     transform: translateY(-10px) scale(1.1);
     letter-spacing: 2px;
     background: linear-gradient(90deg, #01648c #7b2cff, #ff0066);
 }

 body {
     background: linear-gradient(135deg, #070707 0%, #1d1d1f 100%);
 }

 .Sessao-principal {
     min-height: calc(100vh - 160px);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 40px;
     padding: 100px 20px 20px;
 }

 .imagem-principa1 {

     width: 50%;
     animation: flutuar 4.9s ease-in-out infinite;

 }

 .imagem-principa2 {
     max-width: 500px;
     width: 100%;
     height: auto;
 }

 .imagem-principa2 {
     animation: flutuar 5s ease-in-out infinite;
 }

 @keyframes flutuar {
     0% {
         transform: translateY(-20px);
     }

     50% {
         transform: translateY(20px);
     }

     100% {
         transform: translateY(-20px);
     }
 }

 .subtitulo-principal {
     font-size: 24px;
     color: #fff;
     text-align: center;
     max-width: 600px;
     animation: flutuar 5.1s ease-in-out infinite;
     text-justify: 10px;
     font-size: 30px;
 }

 .sessao-sobre {
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: space-around;
     align-items: center;
 }

 .sobre-texto {
     display: flex;
     justify-content: space-around;
     flex-direction: column;
     align-items: center;
     text-justify: 10px;
     gap: 20px;
 }

 .titulo-sobre {
     font-size: clamp(2.5rem, 4vw, 4rem);
     background: linear-gradient(90deg, #ff0066, #7b2cff, #00d8ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;

 }

 .descricao-sobre {

     color: #fff;
     font-size: 40px;
     letter-spacing: 0.1px;
     text-align: justify;
     max-width: 1100px;
 }

 .video-apple {
     width: 500px;
     object-fit: cover;
     object-position: center 20%;
     border-radius: 150px;
    animation: flutuar 5.2s ease-in-out infinite;
    
 }

 /*Sessao recursos*/

 .sesssao-recursos {
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
     gap: 40px;
 }